body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
  background-color: #ec99f7;
}
#drawingCanvas {
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: none;
  filter: drop-shadow(10px 10px 3px #00000033);
}
.selected {
  background-color: #aaa;
  border: 3px solid black;
}
button {
  font-size: 12px;
  margin: 4px;
  padding: 8px;
  border-radius: 10px;
  background-color: #eee;
  border: 2px solid #000;
  filter: drop-shadow(3px 3px 3px #00000055);
}
button:hover {
  background-color: #ddd;
  cursor: pointer;
}
